body {
}


.buttonLog {
    background-color: #79c983;
    border-radius: 10px;
    border: none;
    padding: 7px 25px;
    color: white;
    margin-top: 12%;
}

.buttonReg {
    background-color: #79c983;
    border-radius: 10px;
    border: none;
    padding: 7px 25px;
    color: white;
    margin-top: 12%;
}

careersRight {
    margin: 5% 0 0 35%;
}


defaultCenter {
    text-align: center;

}

.faqquestion {
    font-size: 28px;
    font-family: Arial Black;
    font-weight: 100;
    color: #074D70;
    margin: 3% 0 0 2%
}

.faqanswer {

}

.footer {
    display: flex;
    position: fixed;
    margin-bottom: 0;
    padding-top: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 26px;
    background-color: #333;
    box-shadow: 0px 0 2px 0px black
}

.footerText{
    color: white;
    font-size: 16px;
    text-decoration: none;
    position: fixed;
}


.footer :hover {
    background-color: #505050;
}
.leftImage {
    float: left;
}


.loginContainer {
    width: 600px;
    height: 450px;
    /* background-color: red; */
    margin: 0px auto;
    display: flex;
}

.loginContainerTwo {
    width: 50%;
    height: 375px;
    background: white;
    margin-left: 25px;
    margin-top: 20px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    box-shadow: 0px 0 7px 0px black;
}

.loginContainerThree {
    width: 50%;
    height: 375px;
    background: #79c983;
    margin-top: 20px;
    margin-right: 25px;
    float: right;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    box-shadow: 0px 0 7px 0px black;
    clip-path: inset(-15px -15px -15px 0px);
}

.loginError {
    font-size: 8px;
    color: red;
    font-weight: bold;
    font-family: Verdana;
    text-align: center;
}

.loginTwoContent[type=text] {
    margin-left: 10%;
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    height: 23px;
    width: 75%;
    border: none;
    padding: 3px;
    background-color: #eeeeee;
}

.loginTwoContent[type=password] {
    margin-left: 10%;
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    height: 23px;
    width: 75%;
    border: none;
    padding: 3px;
    background-color: #eeeeee;
}

.loginThreeContent {
    font-family: verdana;
    margin-left: 13%;
    margin-top: 30%;
    color: white;
}


.navbar a:hover {
    background-color: #505050;
}

.navbar {
    background-color: #34568B;
    align-items: center;
    display: flex;
    height: 5%;
    width: 100%;
    position: absolute;
    top: 125px;
    left: 0;
    z-index: 100;
    box-shadow: 0px 0 16px 0px black;
}

.navbarTextOne {
    font-size: 20px;
    color: white;
    margin: 1%;
    text-decoration: none;
}


.over {
    background-color: white;
    margin: 12% 0% 0% 2%;
    height: 95%;
    width: 96%;
    position: absolute;
}

.registerContainer {
    width: 400px;
    height: 500px;
    margin: 0px auto;
    background-color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.registerContainerTwo {
    width: 400px;
    height: 45px;
    background-color: pink;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.registerContainerThree {
    margin-top: 100px;
    width: 350px;
    height: 425px;
    background-color: #A0A0A0;
    margin: 0px auto;
    border-radius: 10px;
}

.registerError {
    font-size: 11px;
    margin-left: 3%;
    color: red;
}

.registerName[type=text] {
    font-size: 13px;
    border-radius: 5px;
    height: 23px;
    width: 150px;
    border: none;
    padding: 3px;
    background-color: white;
}

.registerNamePass[type=Password] {
    font-size: 13px;
    border-radius: 5px;
    height: 23px;
    width: 150px;
    border: none;
    padding: 3px;
    background-color: #eeeeee;
}

.select {
    margin: 2% 0 0 2%;
    width: 45%;
    padding: 5px 20px 5px 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    height: 40%;
    color: gray;
}

.subSearch {
    background-color: #F8F4EA;
    margin: 10% 0 0 10%;
    height: 170px;
    width: 20%;
    position: absolute;
}

.subSearchRight {
    background-color: #F8F4EA;
    margin: 7% 0% 0 70%;
    height: 170px;
    width: 20%;
    position: absolute;
}

.subText {
    text-align: center;
    font-size: 40px;
    font-family: 'georgia'
}

.subTextTwo {
    text-align: center;
    font-size: 15px;
    font-family: 'Segoe UI';
    text-decoration: none;
}

.subTextTwo a:hover {
    background-color: #505050;
}

.transparentBarT {
    opacity: 1.3;
    margin-left: 150px;
    font-size: 30px;
    color: white;
    padding: 3px 0 3px 0;
    align-items: center;
    justify-content: center;
}


.updateContainerOne {
    width: 200px;
    height: 300px;
    background-color: #363945;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.updateContainerTwo {
    width: 400px;
    height: 730px;
    background-color: #363945;
}

.updateContainerThree {
    width: 100%;
    height: 40%;
    background-color: #363945;
}

.updateContainerFour {
    width: 100%;
    height: 60%;
    margin-top: 20%;
    background-color: #363945;
}

.updateInput[type=text] {
    font-size: 13px;
    border-radius: 2px;
    height: 23px;
    width: 90%;
    border: none;
    padding: 3px;
    background-color: #eeeeee;
    margin: 1% 0 0 6%;
}

.updateInputTwo[type=text] {
    font-size: 13px;
    border-radius: 2px;
    height: 23px;
    width: 75%;
    border: none;
    padding: 3px;
    background-color: white;
    margin: 1% 0 0 5%;
}

.updateInputThree[type=password] {
    font-size: 13px;
    border-radius: 2px;
    height: 23px;
    width: 75%;
    border: none;
    padding: 3px;
    background-color: white;
    margin: 1% 0 0 15%;
}

.updateLabel {
    font-size: 17px;
    margin: 0% 0 0 20px;
}

.updateLabelTwo {
    font-size: 17px;
    margin: 0% 0 0 20px;
}

.updateLabelThree {
    font-size: 17px;
    margin: 0% 0 0 20px;
}

.updateLabelFour {
    font-size: 17px;
    margin: 0% 0 0 20px;
}

.updateLabelFive {
    font-size: 17px;
    margin: 0% 0 0 20px;
    color: red;
}
